@font-face {
    font-family: "GoodHeadProCondUltraIt";
    src: url("../font/GoodHeadPro-CondUltraIt.otf");
}
@font-face {
    font-family: "GoodHeadProCondMediumIt";
    src: url("../font/GoodHeadPro-CondMediumIt.otf");
}
@font-face {
    font-family: "TerminaHeavy";
    src: url("../font/Termina-Black.otf");
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0b162a;
}

.countdown-container {
    text-align: center;
    background: transparent;
    border-radius: 10px;
    box-shadow: none;
    width: 90%;
    max-width: 600px;
}

#event-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

#team1-logo{
    max-height: 200px;
    max-width: 145px;
    margin-left: 14px;
}
#team2-logo {
    max-height: 120px;
    max-width: 110px;
    margin-left: 14px;
}

#countdown {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

#countdown div {
    margin: 10px;
    color: rgb(255, 255, 255);
}

.countdown-value {
    display: block;
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-family: "GoodHeadProCondUltraIt", sans-serif;
}

.countdown-text {
    font-size: 24px;
    color: #e64100;
    font-family: "GoodHeadProCondMediumIt", sans-serif;
}

#event-name {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: "TerminaHeavy", sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}
