
@font-face {
    font-family: "TerminaHeavy";
    src: url("../font/Termina-Black.otf");
}
body {
    font-family: 'TerminaHeavy', sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
}
