
@font-face {
    font-family: "TerminaHeavy";
    src: url("../font/Termina-Black.otf");
}
body {
    font-family: 'TerminaHeavy', sans-serif;
    color: white;
    background-color: #0b162a;
}
.size1080 p{
    font-size: 18px;
}

.size4K {
    font-size: 30px;
}

.windicon {
    font-size: 40px;
}

#no-precipitation {
    display: none;
}
.container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}
    
.windDirection {
    margin-right: 10px; /* Add some space between the divs */
}
    