
@font-face {
    font-family: "TerminaHeavy";
    src: url("../font/Termina-Black.otf");
}
body {
    font-family: 'TerminaHeavy', sans-serif;
    color: white;
    background-color: #0b162a;
}
.size1080 {
    font-size: 16px;
}

.size4K {
    font-size: 30px;
}
#no-precipitation {
    display: none;
}