@font-face {
    font-family: "GoodHeadProCondUltraIt";
    src: url("../font/GoodHeadPro-CondUltraIt.otf");
  }
@font-face {
    font-family: "GoodHeadProCondMediumIt";
    src: url("../font/GoodHeadPro-CondMediumIt.otf");
}
@font-face {
    font-family: "TerminaHeavy";
    src: url("../font/Termina-Black.otf");
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: transparent;
}

.countdown-container {
    text-align: center;
    background: transparent;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: none;
    width: 90%;
    max-width: 600px;
}

#event-name-container {
 display: flex;
 justify-content: center;
 align-items: center;
 /* margin-bottom: 20px; */
}

#event-name {
 font-size: 4em;
 margin: 0 20px;
 flex: 1;
 text-align: right;
 color: rgb(255, 255, 255);
 font-family: 'TerminaHeavy', sans-serif;
}

#team1-logo, #team2-logo {
 width: auto;
 height: 70px;
 max-height: 70px;
 max-width: 70px;
 flex-shrink: 0;
}

#countdown {
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
 font-size: 2em;
}

#countdown div {
 margin: 10px;
 flex: 1 1 98px;
 color: rgb(255, 255, 255);
}

.countdown-value {
 display: block;
 font-size: 2em;
 color: rgb(255, 255, 255);
 font-family: 'GoodHeadProCondUltraIt', sans-serif;
}

@media (max-width: 600px) {
 #countdown {
     font-size: 1.5em;
 }

 #countdown span {
     font-size: 2em;
     
 }
}

@media (orientation: portrait) {
 #countdown {
     flex-direction: column;
     align-items: center;
 }

}

@media (orientation: landscape) {
 #countdown {
     flex-direction: row;
     justify-content: space-around;
 }

}
.countdown-text {
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-family: 'GoodHeadProCondMediumIt', sans-serif;
}
#event-logo {
    width: auto;
    height: 130px;
    max-height: 130px;
    max-width: 130px;
    margin-right: 20px;
}