
@font-face {
    font-family: "GoodHeadProCondUltraIt";
    src: url("../font/GoodHeadPro-CondUltraIt.otf");
}
@font-face {
    font-family: "GoodHeadProCondMediumIt";
    src: url("../font/GoodHeadPro-CondMediumIt.otf");
}
@font-face {
    font-family: "TerminaHeavy";
    src: url("../font/Termina-Black.otf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0b162a;
    flex-direction: column;
}

.countdown-container {
    text-align: center;
    background: transparent;
    border-radius: 10px;
    box-shadow: none;
    width: 90%;
    max-width: 600px;
}

#event-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#team1-logo, #team2-logo {
    width: auto;
    height: 70px;
    max-height: 70px;
    max-width: 70px;
    flex-shrink: 0;
}

#countdown {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

#countdown div {
    margin: 10px;
    color: rgb(255, 255, 255);
}

.countdown-value {
    display: block;
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-family: 'GoodHeadProCondUltraIt', sans-serif;
}

.countdown-text {
    font-size: 24px;
    color: #e64100;
    font-family: 'GoodHeadProCondMediumIt', sans-serif;
}

#event-logo {
    width: auto;
    height: 80px;
    max-height: 110px;
    max-width: 110px;
    margin-right: 20px;
}

.logo-container {
    display: none;
    justify-content: left;
    align-items: left;
}

.logo-container img {
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
}
